.footer-container {
  display: flex;
  position: fixed;
  bottom: 0px;
  background-color: #edeef1;
  border-top: solid 1px #c0bcbc;
  width: 100%;
  height: 50px;
  justify-content: space-between;
}
.footer-container-left {
  display: flex;
  gap: 30px;
  margin-left: 20px;
}
.footer-ul {
  display: flex;
  gap: 30px;
}
.lang-list {
  display: flex;
  gap: 30px;
  margin-right: 40px;
  list-style: none;
}
.footer-url {
  text-decoration: none;
  color: black;
}
.footer-url:hover {
  text-decoration: underline;
}

li::marker {
  font-size: x-small;
}
